// colors
$color-bg-main: #fff;
$color-bg-darker: #edf3f9;
$color-accent: #d8770e;
$color-brand: #44667c;
$color-text-main: #000000;
$color-text-secondary: #fff;
$color-text-darker: #666666;

// fonts
$font-family: 'Merriweather Sans', sans-serif;
