@use 'reset';
@use 'variables' as *;

body {
  background: $color-bg-darker;
}

.preload {
  animation-duration: 0s !important;
  transition: none !important;
}

#root {
  margin: 0 auto;
  height: 900px;
  width: 100%;
  max-width: 872px;
  background: $color-bg-main;
  font-family: $font-family;
}
// Reusable
@mixin dropdown {
  position: relative;
  &:hover &-content {
    transform: translateY(100%);
    opacity: 1;
    pointer-events: all;
  }
}

@mixin dropdown-content {
  bottom: 0;
  opacity: 0;
  transform: translateY(120%);
  box-shadow: 0 4px 10px rgba($color: #000000, $alpha: 0.1);
  position: absolute;
  background-color: $color-bg-main;
  transition: 0.4s;
  pointer-events: none;
  &--active {
    transform: translateY(100%);
    opacity: 1;
    pointer-events: all;
  }
}
// Specific css
.header {
  &__top {
    height: 26px;
    display: flex;
    justify-content: flex-end;
    color: $color-text-secondary;
    background: $color-brand;
    &-item {
      &-text,
      &-icon,
      &-dropdown {
        margin: auto 0;
        &:hover {
          background: $color-bg-accent;
        }
      }

      &-text {
        padding: 5px 11px;
        font-size: 10px;
        font-weight: 300;
      }
      &-icon,
      &-dropdown {
        height: 100%;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
      }
      &-dropdown {
        @include dropdown();
        cursor: pointer;
        width: 45px;
        &-content {
          @include dropdown-content();
          // width: 100px;
          right: 0;
          color: $color-text-darker;
          display: flex;
          align-items: center;
          height: 45px;
          width: 150px;
          &-input {
            flex: 1 0 auto;
            width: 50px;
            border: none;
            margin-left: 10px;
            &:focus {
              outline: none;
            }
          }
          &-button {
            flex: 0 0 auto;
            cursor: pointer;
            height: 35px;
            width: 35px;
          }
        }
      }
    }
  }
}
